<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Sorry!!</h1>
        <h3> The Leave History you are searching for employee, has not applied any leave until now.</h3>
    </hgroup>
</body>
</html>
