
@{
    ViewBag.Title = "About";
}


<div id="mycarousel" class="carousel-slide" data-ride="carousel" style="margin-top:-30px">

    <ol class="carousel-indicators">

        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>

        <li data-target="#mycarousel" data-slide-to="1"></li>

        <li data-target="#mycarousel" data-slide-to="2"></li>

        <li data-target="#mycarousel" data-slide-to="3"></li>

        <li data-target="#mycarousel" data-slide-to="4"></li>

        <li data-target="#mycarousel" data-slide-to="5"></li>

    </ol>







    <div class="carousel-inner" role="listbox">



        <div class="item active">

            <img src="~/images/fernando-hernandez-med.jpg" />

            <div class="carousel-caption">

                <h4>The future is all about Customer Expierence Transformation & Application Transformation Management</h4>

            </div>

        </div>



        <div class="item">

            <img src="~/images/jannis-brandt-med.jpg" />

            <div class="carousel-caption">

                <h4>What we do in future which is past is present now is actually all governed by the actions and reactions in PAST</h4>

            </div>

        </div>



        <div class="item">

            <img src="~/images/michael-dziedzic-med.jpg" />

            <div class="carousel-caption">

                <h4>Live your life to the fullest and keep enhacing your skill because you never when life throws{ an EXECEPTION ON YOU}!!! </h4>

            </div>

        </div>



        <div class="item">

            <img src="~/images/fotis-fotopoulo-med.jpg" />

            <div class="carousel-caption">

                <h4>I think their is a FAULT IN MY {code...}</h4>

            </div>

        </div>



        <div class="item">

            <img src="~/images/sean-lim-med1.jpg" />

            <div class="carousel-caption">

                <h4>We are trapped in a simulation probably in other universe and probably a play game for alien child room and that explains the GLITCH IN THE MATRIX</h4>

            </div>

        </div>



        <div class="item">

            <img src="~/images/filiberto-santillan-Heymed.jpg" />

            <div class="carousel-caption">

                <h4>I am the designer of my own CATASTROPHY....</h4>

            </div>

        </div>
    </div>

</div>


<div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index","Employee")'">Proceed to Dashboard</button>

</div>
