@{
    ViewBag.Title = "Contact...";
}
<h2>@ViewBag.Title.</h2>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h4>Name : Pratham Sharma</h4>
<h4>Designation: Software Architect</h4>

<address>

    Modingar Modi Temple Way<br />
    DeMaridian Street, UP 01232-273<br />
    <abbr title="Phone">P:</abbr>
    863.092.8262

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:pratham698sharma@gmail.com">pratham698sharma@gmail.com</a><br />
    <strong>Follow:</strong>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-google"></a>
</address>

<hr />

<h4>Name       : Vedant Das</h4>
<h4>Designation: Software Analyst</h4>

<address>

    Meerut Sport Complex Way<br />
    Marina Breach, JP 06789-785<br />
    <abbr title="Phone">P:</abbr>
    895.089.5678

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:vedantdas930@gmail.com">vedantdas930@gmail.com</a><br />
    <strong>Follow:</strong>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-google"></a>
</address>
