@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">

    <h1>Welcome to Oblivion</h1>

    <h4 class="lead">The future of technology generally evokes a range of emotions in people from all walks of life.  Some view technology as a great evil that slowly diminishes our humanity, while others view it as a way to bring the world closer together and to help solve some of our greatest challenges.</h4>

    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

    <img src="~/images/mika-baumeister.jpg" />

</div>

<hr />


<!--<!--<div class="row">

    <div class="col-xs-4">

        <h2>Getting started</h2>

        <p>

            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that

            enables a clean separation of concerns and gives you full control over markup

            for enjoyable, agile development.

        </p>-->
<!--@*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@-->
<!--<img src="~/Content/images/david-rangel.jpg" />

</div>

<div class="col-md-4">

    <h2>Get more libraries</h2>

    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>

    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>

    <img src="~/Content/images/mika-baumeister.jpg" />

</div>

<div class="col-md-4">

    <h2>Web Hosting</h2>

    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>

    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>

</div>-->
<!--</div>-->



<h2>OUR VALUES....</h2>
<hr />

<h3>COOL</h3>
<div class="row">


    <div class="col-md-6">
        <h4 class="panel-info">We are limited by physical means, yet we think like a startup in going the extra mile for the client. Open to ideas and innovation, our agile teams focus on customer-centric solutions in an environment made for learning and growth. We carry our cool demeanor with ease and this reflects in everything, from our brand identity to our actions.</h4>

        @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

    </div>
    <div class="col-md-6">
        <img src="~/images/pic1small.jpg" />
    </div>
</div>

<hr />

<h3>DISRUPTIVE</h3>

<div class="row">
    <div class="col-md-6">
        <h4 class="panel-info">Our engagements have always been about redefining and re-imagining the overall customer experience to fast-track business transformation. We have a head start in embracing digital disruption for growth. While traditional players fear adopting automation lest they cannibalize their own revenues, we have treaded the bold path and constantly delivered results.</h4>
    </div>

    <div class="col-md-6">
        <img src="~/images/shahadat-rahman.jpg" />
    </div>


    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

</div>



<hr />



<h3>PASSION</h3>

<div class="row">

    <div class="col-md-6">
        <h4 class="panel-info">We have a deep-rooted passion for helping customers achieve business transformation through automation and digital experiences. We tap into our unique initiatives like Bottom Up Disruption to gain collective intelligence of Oblivion’s talent for accelerating customer success. We are committed to making Oblivion a great place to work leading to a passionate and engaged workforce.</h4>
    </div>


    <div class="col-md-6">
        <img src="~/images/pietro-jeng.jpg" />

    </div>

</div>



@*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@



<hr />

<h3>ATTITUDE</h3>

<div class="row">
    <div class="col-md-6">

        <h4 class="panel-info">We foster a culture of setting our own capability benchmarks and raising the bar every time. Not deterred by the size of our competitors, we as a team, learn to embrace our fears as a collective. In an era where traditional players fear the loss that automation can cause, we are willing to cannibalize our own revenues for mutual success and an enduring relationship with our customers.</h4>

    </div>
    <div class="col-md-6">
        <img src="~/images/fernand-de-canne.jpg" />

    </div>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>


<div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("About","Home")'">Proceed To About</button>

</div>

